asgiref==3.11.1
distlib==0.4.0
Django==5.2.14
django-debug-toolbar==6.3.0
filelock==3.29.0
platformdirs==4.9.6
python-discovery==1.3.0
sqlparse==0.5.5
stevedore==5.7.0
typing_extensions==4.15.0
virtualenv==21.3.1
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.1
